.backgroundContainer {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: changeBackground 20s infinite;
  }
  
  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bgScroll {
    background-color: rgba(0, 0, 0, 0.438);
    backdrop-filter: blur(.9rem);
  }
  .sombras {
    box-shadow: -.1rem 0 1.6rem rgba(0, 0, 0, 0.027), .1rem 0 1.6rem rgba(0, 0, 0, 0.103);
  }
  @keyframes changeBackground {
    0% {
      background-image: url('../../public/Landing/img-1.webp');
    }
    20% {
      background-image: url('../../public/Landing/img-2.webp');
    }
    40% {
      background-image: url('../../public/Landing/img-3.webp');
    }
    60% {
      background-image: url('../../public/Landing/img-4.webp');
    }
    80% {
      background-image: url('../../public/Landing/img-5.webp');
    }
    100% {
      background-image: url('../../public/Landing/img-1.webp');
    }
  }